@import "tailwindcss";

@theme {
 
  --container-container: 1170px;
  --font-pop: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-top: #FAFAFA;
  --color-input: #F5F5F5;
  --color-secondary: #DB4444;
  
  


  
}